<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kaydı</h3>
        <div class="login-agileits-top">
            <form method="post">
                <input type="text" class="name" name="CarilerAdı" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CarilerSoyadı" Placeholder="Soyadınız" required="" />
                <input type="text" class="name" name="CarilerSehir" Placeholder="Şehir" required="" />
                <input type="email" class="email" name="CarilerMail" Placeholder="Mail Adresiniz" required="" />
                <input type="password" class="password" name="CarilerSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum &amp; Kabul Ediyorum</label>
                </div>
                <input type="submit" value="Kaydol">
            </form>
        </div>
    </div>
</div>
