<div id="small-dialog2" class="mfp-hide book-form">

    <div class="login-form login-form-left">
        <div class="agile-row">
            <h3>Yeni Cari Kaydı</h3>
            <div class="login-agileits-top">
                <form action="#" method="post">
                    <input type="text" class="name" name="CarilerAdı" Placeholder="Adınız" required="" />
                    <input type="text" class="name" name="CariSoyadı" Placeholder="Soyadınız" required="" />
                    <input type="email" class="name" name="CarilerSehir" Placeholder="Şehir" required="" />
                    <input type="text" class="mail" name="CarilerMail" Placeholder="Mail Adresiniz" required="" />
                    <input type="password" class="password" name="password" Placeholder="Şifre" required="" />
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum &amp; Kabul Ediyorum</label>
                    </div>
                    <input type="submit" value="Kaydol">
                </form>
            </div>
        </div>
    </div>

</div>
