@model OnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />
<h2>Online Ticari Otomasyon Cari Bilgileri</h2>

@using (Html.BeginForm("Index2", "CariPanel1", FormMethod.Post))
{
    <table class="table table-bordered">
        <tr>
            <td>
                <label>Mail Adresi:@HttpContext.Current.User.Identity.Name</label>
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.CarilerAdı, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.CarilerSoyadı, new { @class = "form-control" })
            </td>
        </tr>
    </table>
}

